#Eclipse
.metadata
.classpath
.project
.settings

#EclipsePhp
.buildpath

#Idea/android studio
.idea
*.iml
*.iws
*.ipr

#Netbeans
nbproject

#gradle
.gradle
/local.properties
/gradle/wrapper/*.zip

#build/runtime artifacts
build
bin
out
gen
